html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: normal;
  color: rgb(17, 17, 17);

  background-repeat: no-repeat;
  box-sizing: border-box;
  background: linear-gradient(to left, #076585, #fff);
}

.gallery-title {
  margin: auto;
  margin-top: 10px;
  font-size: 50px;
  color: #453747;
}

.search-form,
.gallery-title,
.btn-loading {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-align: center;
}

.gallery {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100% - 64px);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 24px;

  display: flex;
  flex-wrap: wrap;

  margin-top: -10px;
  margin-left: 10px;
  list-style: none;
}

//----------------------вся карточка

.photo-card {
  width: 380px;
  height: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  align-items: flex-start;

  border-radius: 6px;
  padding: 10px;
  border: 1px solid #9c6d96;
  box-shadow: 0 0 3px 0 rgb(0 0 0 / 75%);
  background-color: #7bc6cc;
}

.photo-card:hover,
.photo-card:focus {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}

//------------------изображение---------------
.card__body {
  height: 300px;
  object-fit: contain;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.card-image {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  display: block;
}

//------------------список свойств---------------

.stats {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  color: #e2dde2;
}

.stats-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  font-size: 15px;
}

.material-icons {
  margin-right: 5px;
}

//------------------ форма поиска---------------

.input {
  box-sizing: border-box;
  width: 385px;
  border: 2px solid #dadada;
  padding: 10px 25px 10px 65px;
  margin: 0;

  display: inline-block;
  vertical-align: middle;

  font-size: 14px;
  height: 55px;
  border-radius: 25px;
  background-color: #ffffff;
}

//------------------кнопка--------------
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #076585;
  border: 0;
  outline: 0;
  padding: 8px 24px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
  font: inherit;
  font-weight: 500;
  user-select: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  //transition: background-color 250ms;
  margin-top: 40px;
  margin-bottom: 40px;

  &:hover,
  &:focus {
    background-color: #be93c5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.btn.is-hidden {
  display: none;
}
//----------плавный скролл------------------

.scroll-button {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: inline-block;
  width: 50px;
  height: 50px;

  border: none;
  background-color: transparent;

  background-image: url('../images/arrow-scroll.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-90deg);
}
